@model QueensOfCodeProject.UI.Models.Post
@{
    ViewBag.Title = "CreatePost";
}

<h2>Create a Post</h2>

<div class="row">
    <form method="post">
        <div class="col-xs-12">
            @Html.TextAreaFor(p => p.PostText, new { @class = "form-control" })
            <label>Title: </label>
            @Html.TextBoxFor(p => p.Title, new { @class = "form-control" })

            <label>Creation Date: </label>
            @Html.TextBoxFor(p => p.CreationDate, new { @class = "form-control" })

            <label>Expiration Date: </label>
            @Html.TextBoxFor(p => p.ExpirationDate, new { @class = "form-control" })

            <label>Visibility: </label>
            @Html.TextBoxFor(p => p.Visible, new { @class = "form-control" })

            <label>Featured: </label>
            @Html.TextBoxFor(p => p.Featured, new { @class = "form-control" })


            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</div>
